<template>
    <div class="container py-5">
        <h2>Our Companies</h2>
        <div class="row" v-if="apiCallLoaded">
            <div class="col-3 mb-3" v-for="compnay in companies" :key="compnay.id">
                <div class="card">
                    <img :src="compnay.logo" class="card-img-top" style="height: 150px; object-fit: cover; overflow: hidden" alt="...">
                    <div class="card-body">
                        <div class="mb-2 d-flex justify-content-center font-weight-bolder">
                            <h6>{{ compnay.name.toUpperCase() }}</h6>
                        </div>
                        <a class="text-center" :href="compnay.website" target="_blank">{{ compnay.website }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5" v-if="apiCallLoaded">
            <button class="btn btn-primary" :disabled="!next_page_url" @click.prevent="loadMoreCompanies(next_page_url)">Load More Companies</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                companies: [],
                next_page_url: null,
                apiCallLoaded: false,
            }
        },
        methods: {
            async loadCompanies(){
                let { data } = await axios.get('/api/companies');

                this.companies = data.data;
                this.next_page_url = data.next_page_url;
                this.apiCallLoaded = true;
            },
            async loadMoreCompanies(url){
                let { data } = await axios.get(url);

                let companies = data.data;
                companies.forEach(element => {
                    this.companies.push(element);
                });
                // this.companies.concat();
                this.next_page_url = data.next_page_url;
            },
        },
        mounted(){
            this.loadCompanies();
        }
    }
</script>
