<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Create Employee</h5>
                        <router-link :to="{name: 'employee-list'}" class="btn btn-primary">Employee List</router-link>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <form @submit.prevent="createEmployee">
                                    <div class="form-group">
                                        <label for="">First Name</label>
                                        <input type="text" v-model="employeeForm.firstname" class="form-control" name="firstname" placeholder="employee frist name" :class="{ 'is-invalid': employeeForm.errors.has('firstname') }">
                                        <has-error :form="employeeForm" field="firstname"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" v-model="employeeForm.lastname" class="form-control" name="lastname" placeholder="employee last name" :class="{ 'is-invalid': employeeForm.errors.has('lastname') }">
                                        <has-error :form="employeeForm" field="lastname"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" v-model="employeeForm.email" class="form-control" name="email" placeholder="employee email" :class="{ 'is-invalid': employeeForm.errors.has('email') }">
                                        <has-error :form="employeeForm" field="firstname"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phone</label>
                                        <input type="tel" v-model="employeeForm.phone" class="form-control" name="phone" placeholder="employee phone" :class="{ 'is-invalid': employeeForm.errors.has('phone') }">
                                        <has-error :form="employeeForm" field="phone"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Select employee compnay</label>
                                        <select name="company_id" class="form-control" v-model="employeeForm.company_id" :class="{ 'is-invalid': employeeForm.errors.has('company_id') }">
                                            <option value="" selected>Select compnay</option>
                                            <option :value="company.id" v-for="company in companies" :key="company.id"> {{
                                                company.name }}</option>
                                        </select>
                                        <has-error :form="employeeForm" field="company_id"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Create employee</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'
import { objectToFormData } from 'object-to-formdata'

export default {
    data(){
        return {
            employeeForm: new Form({
                firstname: '',
                lastname: '',
                email: '',
                phone: '',
                compnay_id: '',
            }),
            companies: [],
        }
    },
    methods: {
        createEmployee(){
            this.employeeForm.post('/api/employee').then(({ data }) => {
                this.employeeForm.firstname = '';
                this.employeeForm.lastname = '';
                this.employeeForm.email = '';
                this.employeeForm.phone = '';

                this.$toast.success({
                    title:'Success!',
                    message:'employee Uploaded successfully.'
                });
            })
        },
        loadCompanies(){
            axios.get('/api/company').then(response => {
                this.companies = response.data;
            });
        }
    },
    mounted(){
        this.loadCompanies();
    }
}
</script>

<style>

</style>
