<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Edit Employee - {{ employeeForm.title }} </h5>
                        <router-link :to="{name: 'employee-list'}" class="btn btn-primary">Employee List</router-link>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <form @submit.prevent="saveemployee">
                                    <div class="form-group">
                                        <label for="">First Name</label>
                                        <input type="text" v-model="employeeForm.firstname" class="form-control" name="firstname" placeholder="employee firstname" :class="{ 'is-invalid': employeeForm.errors.has('firstname') }">
                                        <has-error :form="employeeForm" field="firstname"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" v-model="employeeForm.lastname" class="form-control" name="lastname" placeholder="employee lastname" :class="{ 'is-invalid': employeeForm.errors.has('lastname') }">
                                        <has-error :form="employeeForm" field="lastname"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" v-model="employeeForm.email" class="form-control" name="email" placeholder="employee email" :class="{ 'is-invalid': employeeForm.errors.has('email') }">
                                        <has-error :form="employeeForm" field="email"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phone</label>
                                        <input type="text" v-model="employeeForm.phone" class="form-control" name="phone" placeholder="employee phone" :class="{ 'is-invalid': employeeForm.errors.has('phone') }">
                                        <has-error :form="employeeForm" field="phone"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Select employee company</label>
                                        <select name="company_id" class="form-control" v-model="employeeForm.company_id" :class="{ 'is-invalid': employeeForm.errors.has('company_id') }">
                                            <option style="display:none;" value="" selected>Select company</option>
                                            <option :value="company.id" v-for="company in companies" :key="company.id"> {{
                                                company.name }}</option>
                                        </select>
                                        <has-error :form="employeeForm" field="company_id"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Update employee</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'
import { objectToFormData } from 'object-to-formdata'

export default {
    data(){
        return {
            employeeForm: new Form({
                firstname: '',
                lastname: '',
                email: '',
                phone: '',
                company_id:'',
            }),
            companies: [],
        }
    },
    methods: {
        loademployeeData(){
            let id = this.$route.params.id;

            axios.get(`/api/employee/${id}/edit`).then(response => {
                let employee = response.data;

                this.employeeForm.firstname = employee.first_name;
                this.employeeForm.lastname = employee.last_name;
                this.employeeForm.email = employee.email;
                this.employeeForm.phone = employee.phone;
                this.employeeForm.company_id = employee.company_id;
            });
        },
        saveemployee(){
            let id = this.$route.params.id;

            this.employeeForm.put('/api/employee/'+id).then(({ data }) => {

                this.$toast.success({
                    title:'Success!',
                    message:'employee update successfully.'
                });
            })
        },

        loadcompanies(){
            axios.get('/api/company').then(response => {
                this.companies = response.data;
            });
        }
    },
    mounted(){
        this.loademployeeData();
        this.loadcompanies();
    }
}
</script>

<style>

</style>
