<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Employee List</h5>
                        <router-link :to="{name: 'create-employee'}" class="btn btn-primary">Create Employee</router-link>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 100px"> Id </th>
                                    <th> First Name </th>
                                    <th> Last Name </th>
                                    <th> Email </th>
                                    <th> Phone </th>
                                    <th> Company </th>
                                    <th style="width: 170px"> Action </th>
                                </tr>
                            </thead>
                            <tbody v-if="employees.length">
                                <tr v-for="employee in employees" :key="employee.id">
                                    <td style="width: 100px"> {{ employee.id }} </td>
                                    <td> {{ employee.first_name }}</td>
                                    <td> {{ employee.last_name }} </td>
                                    <td> {{ employee.email }} </td>
                                    <td> {{ employee.phone }} </td>
                                    <td>
                                        <span v-if="employee.company"> {{ employee.company.name }} </span>
                                        <span v-else> {{ employee.company_id }} </span>
                                    </td>
                                    <td style="width: 170px">
                                        <router-link :to="{name: 'edit-employee', params: {id: employee.id}}" class="btn btn-primary btn-sm">Edit</router-link>
                                        <a @click.prevent="deleteemployee(employee)" href="#" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="7">
                                        <h5 class="text-center mt-4 mb-4">No employees found.</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            employees: [],
        }
    },
    methods: {
        loadEmployees(){
            axios.get('/api/employee').then(response => {
                this.employees = response.data;
            });
        },

        async deleteemployee(employee){
            await axios.delete(`/api/employee/${employee.id}`).then(() => {
                this.$toast.success({
                    title:'Success!',
                    message:'Employee deleted successfully.'
                });
            });

            let index = this.employees.indexOf(employee);
            this.employees.splice(index, 1);
        }
    },
    mounted() {
        this.loadEmployees();
    }
}
</script>
