<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>Create Company</h5>
                        <router-link :to="{name: 'company-list'}" class="btn btn-primary">Company List</router-link>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <form @submit.prevent="createCompany">
                                    <div class="form-group">
                                        <label for="">Company name</label>
                                        <input type="text" v-model="companyForm.name" class="form-control" name="name" placeholder="company name" :class="{ 'is-invalid': companyForm.errors.has('name') }">
                                        <has-error :form="companyForm" field="name"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Email</label>
                                        <input type="email" v-model="companyForm.email" class="form-control" name="email" placeholder="company email" :class="{ 'is-invalid': companyForm.errors.has('email') }">
                                        <has-error :form="companyForm" field="email"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Website</label>
                                        <input type="text" v-model="companyForm.website" class="form-control" name="website" placeholder="company website" :class="{ 'is-invalid': companyForm.errors.has('website') }">
                                        <has-error :form="companyForm" field="website"></has-error>
                                    </div>
                                     <div class="form-group">
                                        <label for="">Company Logo</label>
                                        <input type="file" class="form-control-file"  @change="onLogoChange" :class="{ 'is-invalid': companyForm.errors.has('logo') }">
                                        <has-error :form="companyForm" field="logo"></has-error>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Create Company</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'
import { objectToFormData } from 'object-to-formdata'

export default {
    data(){
        return {
            companyForm: new Form({
                name: '',
                email: '',
                logo: '',
                website: ''
            }),
        }
    },
    methods: {
        createCompany(){
            this.companyForm.post('/api/company', {
                transformRequest: [function (data, headers) {
                    return objectToFormData(data)
                }],
                onUploadProgress: e => {
                    // Do whatever you want with the progress event
                    console.log(e)
                }
            }).then(({ data }) => {
                this.companyForm.title = '';
                this.companyForm.email = '';
                this.companyForm.logo = '';
                this.companyForm.description = '';

                this.$toast.success({
                    title:'Success!',
                    message:'Compnay Created successfully.'
                });
            })
        },
        onLogoChange(e){
            const file = e.target.files[0]
            // Do some client side validation...
            console.log(file);
            this.companyForm.logo = file
        },
    }
}
</script>

<style>

</style>
