<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div
            class="
              card-header
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <h5>Edit company - {{ companyForm.name }}</h5>
            <router-link :to="{ name: 'company-list' }" class="btn btn-primary"
              >company List</router-link
            >
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 offset-3">
                <form @submit.prevent="saveCompany">
                  <div class="form-group">
                    <label for="">Company name</label>
                    <input
                      type="text"
                      v-model="companyForm.name"
                      class="form-control"
                      name="name"
                      placeholder="company name"
                      :class="{ 'is-invalid': companyForm.errors.has('name') }"
                    />
                    <has-error :form="companyForm" field="name"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="">Company email</label>
                    <input
                      type="text"
                      v-model="companyForm.email"
                      class="form-control"
                      name="email"
                      placeholder="company email"
                      :class="{ 'is-invalid': companyForm.errors.has('email') }"
                    />
                    <has-error :form="companyForm" field="email"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="">Company website</label>
                    <input
                      type="text"
                      v-model="companyForm.website"
                      class="form-control"
                      name="website"
                      placeholder="company website"
                      :class="{
                        'is-invalid': companyForm.errors.has('website'),
                      }"
                    />
                    <has-error :form="companyForm" field="website"></has-error>
                  </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="">Company Logo</label>
                                <input type="file" class="form-control-file"  @change="onLogoChange" :class="{ 'is-invalid': companyForm.errors.has('logo') }">
                                <has-error :form="companyForm" field="logo"></has-error>
                            </div>
                        </div>
                        <div class="col-4">
                            <div style="width: 100%; max-height: 150px; overflow:hidden">
                                <img :src="logo" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success">
                      Update company
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Form } from "vform";
import { objectToFormData } from "object-to-formdata";

export default {
  data() {
    return {
      companyForm: new Form({
        name: "",
        email: "",
        logo: "",
        website: "",
        _method: "put",
      }),
      logo: "",
    };
  },
  methods: {
    loadCompanyData() {
      let id = this.$route.params.id;

      axios.get(`/api/company/${id}/edit`).then((response) => {
        let company = response.data;

        this.companyForm.name = company.name;
        this.companyForm.email = company.email;
        this.companyForm.website = company.website;
        this.logo = company.logo;
      });
    },
    saveCompany() {
      let id = this.$route.params.id;

      this.companyForm
        .post("/api/company/" + id, {
          transformRequest: [
            function (data, headers) {
              return objectToFormData(data);
            },
          ],
          onUploadProgress: (e) => {
            // Do whatever you want with the progress event
            console.log(e);
          },
        })
        .then(({ data }) => {
          this.logo = data.logo;

          this.$toast.success({
            title: "Success!",
            message: "Company update successfully.",
          });
        });
    },
    onLogoChange(e) {
      const file = e.target.files[0];
      // Do some client side validation...
      this.companyForm.logo = file;
    },
  },
  mounted() {
    this.loadCompanyData();
  },
};
</script>

<style>
</style>
