<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div
            class="
              card-header
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <h5 class="mb-0">Companies</h5>
            <router-link
              :to="{ name: 'create-company' }"
              class="btn btn-primary"
              >Create Company</router-link
            >
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 100px">Id</th>
                  <th>Logo</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Website</th>
                  <th style="width: 170px">Action</th>
                </tr>
              </thead>
              <tbody v-if="companies.length">
                <tr v-for="company in companies" :key="company.id">
                  <td style="width: 100px">{{ company.id }}</td>
                  <td>
                    <div
                      style="
                        max-width: 100px;
                        max-height: 100px;
                        overflow: hidden;
                      "
                    >
                      <img :src="company.logo" alt="" class="img-fluid" />
                    </div>
                  </td>
                  <td>{{ company.name }}</td>
                  <td>{{ company.email }}</td>
                  <td>{{ company.website }}</td>
                  <td style="width: 170px">
                    <router-link
                      :to="{ name: 'edit-company', params: { id: company.id } }"
                      class="btn btn-primary btn-sm"
                      >Edit</router-link
                    >
                    <a
                      @click.prevent="deleteCompany(company)"
                      href="#"
                      class="btn btn-danger btn-sm"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="6">
                    <h5 class="text-center mt-4 mb-4">No company found.</h5>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center mt-5" v-if="apiCallLoaded">
              <button
                class="btn btn-primary"
                :disabled="!next_page_url"
                @click.prevent="loadMoreCompanies(next_page_url)"
              >
                Load More Companies
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      companies: [],
      next_page_url: null,
      apiCallLoaded: false,
    };
  },
  methods: {
    async loadCompanies() {
      let { data } = await axios.get("/api/company");

      this.companies = data.data;
      this.next_page_url = data.next_page_url;
      this.apiCallLoaded = true;
    },
    async loadMoreCompanies(url) {
      let { data } = await axios.get(url);

      let companies = data.data;
      companies.forEach((element) => {
        this.companies.push(element);
      });
      // this.companies.concat();
      this.next_page_url = data.next_page_url;
    },

    deleteCompany(company) {
      axios.delete(`/api/company/${company.id}`).then(() => {
        this.$toast.success({
          title: "Success!",
          message: "Company deleted successfully.",
        });
      });

      let index = this.companies.indexOf(company);
      this.companies.splice(index, 1);
    },
  },
  mounted() {
    this.loadCompanies();
  },
};
</script>
